.footer-block{
    height:auto;
    margin: 10px auto;
    ol{
        li{
            cursor: pointer;
            padding: 3px;
            margin: 10px 5px;
            list-style-type: none;
            color: white;
            font-size: 20px;
            text-align: center;
            text-shadow: 0 29px 38px rgba(100, 100, 100, 0.9), 0 15px 12px rgba(100, 100, 100, 0.9);
            &:hover {
                color: #FFDD00;
            }
            &:nth-of-type(1):before {
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 50%;
                position: absolute;
                left: 35%;
                top: 10px;
                background-color: #FFFFFF;
                filter: blur(2px);
            }
            &:nth-of-type(1):after {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                position: absolute;
                left: 32%;
                top: 30px;
                background-color: #FFFFFF;
                filter: blur(1px);
            }
        }
    }
}